body{
	padding: 0;
	margin: 0;
}

section{
	position: relative;
}
.parallax,.parallax_section{
	height: 100%;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: center;
	background-size: cover;
}

.parallax_section{
		background-image: url(../img/feedback.jpg);
}

.parallax{
		background-image: url(../img/main.jpg);

}
nav{
	display: grid;
	grid-template-columns: 0.5fr 0.5fr 2.5fr 0.5fr;
	background: black;
	padding: 0.5em;
	margin: 0;
	font-family: 'Do Hyeon', sans-serif;
	grid-auto-columns: 5px;
	opacity: 0.8;


}

nav > div > a , nav > div > div > a{
	text-decoration: none;
	color: white;
	
}

nav > div > div > a:hover{
	color: #b10400;
}
.logo{
	align-items: center;
	grid-column: 2;
	font-size: 6vw;
	 
}
.logo > a{
	color: #b10400;
}
.menu{
	display: none;
	
	}
.icon{
	grid-column: 4;
	align-items: center;
}
.bar{
	width: 6vw;
	height: 0.5vw;
	background-color: white;
	margin: 6px 0;
}

.one{
	display: grid;
	grid-template-columns: repeat(6, 0.5fr)
}
.middle{
	grid-column: 2/6;
	text-align: center;
	background: white;
	width: 100%;
	height: 150px;
	margin:10% 0 10% 0;
	opacity: 0.8;
	font-family: 'Lora', serif;
	position: relative;
	line-height: 80%;
	align-self: center;
}



.data > h5{
	color: #b10400;
}

.data > h5::before{
	content: open-quote;
	color: black;
}
.data > h5::after{
	content: close-quote;
	color: black;
}

.data > p {
	font-size: 9px;
	color: black;
}
.data::before{
	content: '';
	position: absolute;
	border-top: 1px solid #b10400;
	border-bottom: 1px solid #b10400;
	top: 0.5em;
	bottom: 0.5em;
	left: 0.5em;
	right: 0.5em;
	z-index: -1;
}

.data::after{
	content: '';
	position: absolute;
	border-left: 1px dotted #b10400;
	border-right: 1px dotted #b10400;
	top: 0.5em;
	bottom: 0.5em;
	left: 0.5em;
	right: 0.5em;
	z-index: -1;

}
.button{
	background: #b10400;
	color: white;
	padding: 4px;
	font-size: 8px;
	margin-bottom: 3%;
	text-decoration: none;
	display: inline-block;
	z-index: 1;
	
}
.read_more{
	background: white;
	color: #333333;
	border: 1px #333333 solid;
	font-size: 1vw;
	text-decoration: none;
	display: inline-block;
	z-index: 2;
	font-family: 'Cantata One', serif;
	text-transform: uppercase;
	margin-bottom: 10%;
	padding: 1vw 0.75vw 1vw 0.75vw;

}

.responsive {
    width: 100%;
    height: auto;
}
.service{
	display: grid;
	grid-template-columns:repeat(6, 1fr);
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;
	grid-row-gap: 0.25em;
	grid-column-gap: 0.5em;
}

.serv{
	grid-column: 3/5;
	font-family: 'Marck Script', cursive;
	font-size: 6vh;
	text-decoration-line: underline;
	text-decoration-color: #b10400;


}
.pizzas{
	grid-row: 2;
	grid-column: 1/4;
	position: relative;
}
.coffees{
	grid-row: 2;
	grid-column: 4/7;
	position: relative;
}
.burgers{
	grid-row: 3;
	grid-column: 1/4;
	position: relative;
}
.drinks{
	grid-row: 3;
	grid-column: 4/7;
	position: relative;
}
.text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-family: 'Pacifico', cursive;
	font-style: italic;
	color: white;
	font-size: 6vw;
	opacity: 0;
}
.big{
	display: none;
}

.text > a{
	text-decoration: none;
	color: white;
}

.pizzas::before, .coffees::before, .burgers::before, .drinks::before{
	content: '';
	position: absolute;
	top: 0.25em;
	bottom: 0.5em;
	left:0.25em;
	right: 0.25em;
	background: black;
	opacity: 0.6;
	transform: scale(1,0);
	transition: transform ease-in 200ms;
}

.pizzas:hover::before,.coffees:hover::before,.burgers:hover::before,.drinks:hover::before{
	transform: scale(1,1);
}
.pizzas:hover .text,.coffees:hover .text,.burgers:hover .text,.drinks:hover .text{
	opacity: 0.8;
	}

.feedback{
	display: grid;
	grid-template-columns: 0.5fr 2fr 0.5fr;
	margin-top: 5%;
	
}
.feed{
	margin-top: 8vh;
	color: black;
	grid-row: 1;
	grid-column: 2/3;
	font-family: 'Marck Script', cursive;
	font-size: 6vh;
	text-decoration-line: underline;
	text-decoration-color: #b10400;
	text-align: center;

}
.inputs{
	margin-top: 2vh;
	margin-bottom: 2vh;
	text-align: center;
	grid-row: 2;
	grid-column: 2/3;
	line-height: 5vh;


}

input[type="text"], textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    opacity: 0.9;
    font-family: 'Cantata One', serif;

}

.submit{
	color: white;
	border: 0.25vh white solid;
    display: inline-block;
    padding: 0.75vh 5vh;
    line-height: 6vh;
    background: #03A9F4;
    opacity: 0.9;
    text-transform: uppercase;
    font-family: 'Cantata One', serif;

}

.submit:hover {
	transform:rotate(-360deg);
	transition: transform ease-in 300ms;

}

.footer{
	display: grid;
	grid-template-columns: 0.25fr 1fr 0.25fr;
	background: #282c2f;
	padding: 5vh 0;
	margin: 1vh 0;
	grid-row-gap: 2vh;
	font-family: 'Do Hyeon', sans-serif;

}

.footer > .location{
	grid-column: 2/3;
	font-size: 2.5vh;
	color: white;
}
.location > div{
	padding: 2vh 2vh 2vh 0;
}


.location > div > i{
	padding-right: 1vw;
}

.footer > .company_info{
	grid-row: 2;
	grid-column: 2/3;
	text-align: justify;
}
.company_info > div{
	font-size: 2.5vh;
	color: white;
}
.company_info > div > p{
	font-size: 2vh;
	color: grey;
}
.company_info > div > i{
	font-size: 5vh; 
	padding-right: 0.5vw; 
}






textarea{
	margin-top: 1vh;
}

/*Media Query*/
@media(min-width: 720px) {
		.logo{
			font-size: 2vw;
		}
		.menu{
			display: grid;
			font-size: 1.5vw;
			grid-template-columns: repeat(5, 0.5fr);
			grid-auto-columns: 5px;
			grid-column: 3;
			align-items: center;
			justify-items: end;
		}
		.icon{
			display: none;
		}
		.middle{
			grid-column: 3/5;
			margin:40% 0 50% 0;
		}
		.button{
		transition: transform ease-in 250ms;
		transform: scale(0,1);
		}
		.middle:hover .data::after,.middle:hover .button{
		transform: scale(1,1);
		}
		.data::after{
			transform: scale(0,1);
			transition: transform ease-out 250ms;
		}

		.service{
			grid-template-columns:0.5fr 1fr 1fr 1fr 1fr 0.5fr;
		}
		.pizzas{
			grid-row: 2;
			grid-column: 2;
			position: relative;
		}
		.coffees{
			grid-row: 2;
			grid-column: 3;
			position: relative;
		}
		.burgers{
			grid-row: 2;
			grid-column: 4;
			position: relative;
		}
		.drinks{
			grid-row: 2;
			grid-column: 5;
			position: relative;
		}
		.small{
			display: none;
		}
		.big{
			display: inline;
		}
		.big > img{
			width: 8vw;
			height: 8vw;

		}
		.big > h4{
			text-transform: uppercase;
			font-family: 'Cantata One', serif;
			font-size: 1.5vw;
			color: #b10400;
			opacity: 0.8;
		}
		.big > p{
			font-size: 1vw;
			line-height: 2vw;
			font-family: 'Open Sans', sans-serif;
			padding: 0.5vw;
			color: #666666;
		}
		.big::before{
			content: '';
			position: absolute;
			border: 0.1vw solid #b10400;
			top:12.5%;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: -1;
		}
		.read_more:hover{
			background: #b10400;
			color: white;
			transition: all 0.3s;
			border: none;
		}

		.service{
			grid-column-gap: 1em;
		}
		.pizzas:hover::before,.coffees:hover::before,.burgers:hover::before,.drinks:hover::before{
			transform: scale(0,0);
		}
		.feedback{
			grid-template-columns: 0.25fr 1fr 1fr 0.25fr;			
		}
		.feed_img{
			grid-row: 1/3;
			grid-column: 3/5;
			background: red;
			height: 100%;
			width: 100%;
			background: url(../img/s7.png) ;
			background-repeat: no-repeat;
			background-position: center;

		}
		.submit{
    		float: left;
    	}

		.footer{
			display: grid;
			grid-template-columns: 0.25fr 1fr 1fr 1fr 0.25fr;
		}

		.footer > .location{
			grid-column: 2/4;
		}

		.footer > .company_info{
			grid-row: 1;
			grid-column: 4/5;
			
		}
	}




@media (min-width: 400px) and (max-width: 719px), (min-width: 720px){
	.data > h4 {
		font-size: 3.5vh;
	}
	.data > h5{
		font-size: 3vh;
	}
	.data > p{
		font-size: 1.75vh;
	}
	.middle{
		height: auto;
		
	}
	.button{
		margin-top: 10px;
		padding: 6px;
		font-size: 12px;
	}

}